<div data-remove-id="#elemento{{iterationIndex}}{{tipoArvore}}{{node.tipoElemento.id}}">
	<a class="panel-heading" href="javascript:void(0);" data-toggle="collapse" data-target="#elemento{{iterationIndex}}{{tipoArvore}}{{node.tipoElemento.id}}"
		data-ng-init="active = preview"
		data-ng-click="active = !active" aria-expanded="false" aria-controls="elemento{{iterationIndex}}{{tipoArvore}}{{node.tipoElemento.id}}">
		<h3 class="panel-title">
		    <span data-ng-if="tipoArvore == 'M'" data-ng-show="hasWriteAccess">
				<i class="fa fa-caret-up" data-ng-click="swap(node, 1)" title="Sobe"></i>
				<i class="fa fa-caret-down" data-ng-click="swap(node, 0)" title="Desce"></i>
			</span>
			{{node.tipoElemento.nomeItem}}
		    <span data-ng-if="node.texto.asPlainText().length > 0" style="vertical-align:middle;line-height:15px;padding-left:5px;">
				<i class="fa fa-edit" title="Item com conteúdo"></i>
		    </span>
    		<i class="icon fa fa-trash" data-ng-if="tipoArvore == 'M'" data-ng-show="hasWriteAccess" data-ng-click="delete('#elemento'+iterationIndex+tipoArvore+node.tipoElemento.id);" title="Exclui"></i>
			<i class="icon fa" data-ng-class="{'fa-chevron-up': active, 'fa-chevron-down': !active}" title="{{!active ? 'Mostrar' : 'Ocultar'}}"></i>
		</h3>
	</a>
	<div id="elemento{{iterationIndex}}{{tipoArvore}}{{node.tipoElemento.id}}" class="panel-body panel-collapse collapse"
		data-ng-class="{'in' : preview}">
		<div class="row default-margin-bottom" ng-if="node.tipoElemento.nomeItem == 'Fundamento'">
			<div class="container-fluid">
				<div class="form-group">
					<input type="text" class="form-control margin-bottom-20" id="tituloFundamento" placeholder="Título do Fundamento" data-ng-model="node.titulo" data-ng-disabled="!hasWriteAccess" required />
				</div>
			</div>
		</div>
		<div class="row no-margin-top">
			<div text-angular class="recuo-ementa"
				ng-if="node.tipoElemento.nomeItem == 'Ementa'"
				name="texto{{iterationIndex}}{{node.tipoElemento.id}}"
				ta-toolbar="[['expandArea'],['bold','italics','underline'],['ul','ol'],['redo','undo'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['fontName'], ['fontSize'], ['fontColor'], ['clear'], ['selectToken']]"
				ta-toolbar-class="custom-ta-toolbar"
				ta-text-editor-class="border-around"
				ta-html-editor-class="border-around"
				ta-unsafe-sanitizer="false"
				ta-disabled="!hasWriteAccess"
				ta-paste="sanitizePastedData($html)"
				data-ng-copy="sanitizeCopiedData($event)"
				data-ng-model="node.texto"></div>

			<div text-angular
				ng-if="node.tipoElemento.nomeItem == 'Relatório'"
				name="texto{{iterationIndex}}{{node.tipoElemento.id}}"
				ta-toolbar="[['expandArea'],['bold','italics','underline'],['ul','ol'],['redo','undo'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['fontName'], ['fontSize'], ['fontColor'], ['clear'], ['selectToken'], ['selectAlega']]"
				ta-toolbar-class="custom-ta-toolbar"
				ta-text-editor-class="border-around"
				ta-html-editor-class="border-around"
				ta-unsafe-sanitizer="false"
				ta-disabled="!hasWriteAccess"
				ta-paste="sanitizePastedData($html)"
				data-ng-copy="sanitizeCopiedData($event)"
				data-ng-model="node.texto"></div>

			<div text-angular
				ng-if="node.tipoElemento.nomeItem != 'Ementa' && node.tipoElemento.nomeItem != 'Relatório'"
				name="texto{{iterationIndex}}{{node.tipoElemento.id}}"
				ta-toolbar="[['expandArea'],['bold','italics','underline'],['ul','ol'],['redo','undo'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],['indent','outdent'],['fontName'], ['fontSize'], ['fontColor'], ['clear'], ['selectToken']]"
				ta-toolbar-class="custom-ta-toolbar"
				ta-text-editor-class="border-around"
				ta-html-editor-class="border-around"
				ta-unsafe-sanitizer="false"
				ta-disabled="!hasWriteAccess"
				ta-paste="sanitizePastedData($html)"
				data-ng-copy="sanitizeCopiedData($event)"
				data-ng-model="node.texto"></div>

		</div>
	</div>
</div>
