<div class="row margin-bottom-20">
    <div data-ng-repeat="selectedCat in categoriaTopicoModel" class="input-group">
        <input type="text" class="form-control" value="{{selectedCat.titulo}}" readonly="true" />
        <span class="input-group-addon" data-ng-show="hasWriteAccess">
            <i data-ng-click="removeCategoriaTopico(selectedCat)" class="fa fa-times"></i>
        </span>
    </div>
    <div data-ng-hide="loadingCategoriaTopico">
        <input type="text" placeholder="Adicionar Categoria" id="categoriaTopico" class="form-control" autofocus
            data-ng-keydown="checkKeyDown($event)" data-ng-model="categoriaTopico" data-ng-show="hasWriteAccess && categoriaTopicoModel.length == 0" data-ng-change="search()" />
        <span data-ng-if="!hasWriteAccess && categoriaTopicoModel.length == 0">Sem Categoria</span>
    </div>
    <ul id="suggestions" class="suggestions-list" data-ng-if="hasWriteAccess">
        <li data-ng-repeat="categoria in categorias" class="blockSpan" data-ng-click="addToSelectedCats($index)" data-ng-mouseover="$parent.selectedIndex=$index" data-ng-class="{active : selectedIndex===$index}">
           {{categoria.titulo}}
        </li>
    </ul>
    <div app-loading loading="loadingCategoriaTopico"></div>
</div>
