<div class="container-fluid">

	<div class="panel .panel-default">
		<div class=".panel-heading">
		 Unidades Federativas
		</div>
	</div>

	<div class="row header" >

        <div class="col-md-2">
   
            <label>Sigla</label>
            
        </div>

        <div class="col-md-6">
           
            <label>Nome</label>
			
        </div>

	</div>

	<div class="row" ng-repeat="uf in rows" ng-init="$last ? applyMetadata() : angular.noop()">

		<div class="col-md-2">
			<input type="text" ng-model="uf.sigla"  name="sigla" class="form-control " >
			<input type="hidden" ng-model="uf.id" >
		    
		</div>

		<div class="col-md-6">    
			<input type="text" ng-model="uf.nome" name="nome"  class="form-control">     
		</div>

		<div class="col-sd-2">

		   	<button type="submit" class="btn btn-primary" ng-click="ufController.saveRow($index);">
			  <i class="glyphicon glyphicon-save-file"></i>
			</button>

			<button type="submit" class="btn btn-danger" ng-click="ufController.removeRow($index);" ng-if="uf.id">
			  <i class="glyphicon glyphicon-erase"></i>
			</button>

		</div>

	</div>
	
	<br/>
	
</div>