<div class="container-fluid" ng-controller="UfController as ufController">
<form name="form" class="form-validate">

	<div class="panel .panel-default">
		<div class=".panel-heading">
      {{'label.heading.uf' | translate}}
		</div>
	</div>


  <div class="row header" >

        <div class="col-md-2">

            <label>{{'label.uf.sigla' | translate}}</label>

        </div>

        <div class="col-md-6">

            <label>{{'label.uf.nome' | translate}}</label>

        </div>

	</div>

	<div class="row" ng-repeat="uf in rows"  plc-finish-render>

		<div class="col-md-2">
			<input type="text" ng-model="uf.sigla" label="{{'label.uf.sigla' | translate}}"  name="sigla" ng-required="true" class="form-control " >
			<input type="hidden" ng-model="uf.id" >

		</div>

		<div class="col-md-6">
			<input type="text" ng-model="uf.nome" label="{{'label.uf.nome' | translate}}"  name="nome" ng-required="true"  class="form-control">
		</div>

		<div class="col-sd-2">

		   	<button type="button" class="btn btn-primary" ng-click="ufController.saveRow($index);">
			  <i class="glyphicon glyphicon-save-file"></i>
			</button>

			<button type="button" class="btn btn-danger" ng-click="ufController.removeRow($index);" ng-if="uf.id">
			  <i class="glyphicon glyphicon-erase"></i>
			</button>

		</div>

	</div>

	<br/>
</form>
</div>
