<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Gerenciador de Sentenças">
    <meta name="author" content="TJRS and Powerlogic S.A.">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <base href="#{contextUrl}" />

    <title>Cronos</title>

    <!-- lib -->
    //= include includes/lib-head.html

</head>

<body class="notification-center" ng-app="cronos" ng-controller="LoginController as loginCt" ng-cloak>

    <div class="container container-signin">

        <div class="row">
            <div class="form-signin-wrapper text-center col-xs-12">
                <alert ng-repeat="msg in messages" type="{{msg.type}}" close="closeMessage($index)">{{msg.message}}</alert>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form class="form-signin">
                            <i class="logo-tjrs"></i>
                            <h2 class="form-signin-header text-center">Cronos</h2>
                            <label for="inputUsername" class="sr-only">Usu&aacute;rio</label>
                            <input type="text" id="inputUsername" class="form-control" autofocus="" required="" placeholder="Usu&aacute;rio" ng-model="username" maxlength="20">
                            <label for="inputPassword" class="sr-only">Senha</label>
                            <input type="password" id="inputPassword" class="form-control" required="" placeholder="Senha" ng-model="password" maxlength="20">
                            <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="isLoading()" ng-click="login($event)">Acessar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /container -->

    <!-- Placed at the end of the document so the pages load faster -->
    //= include includes/lib-footer.html

</body>

</html>
