<div class="menu-container">
    <ul class="list-group list-items view-animate">
        <li class="list-group-item list-item repeat-animation" data-ng-repeat="grupoTrabalho in menuCt.getMenu()">
            <div app-gt-item item="grupoTrabalho"></div>
        </li>
        <li class="list-group-item list-item" data-ng-if="appCt.isAdmin()">
            <i class="fa fa-users"></i>
            <a href="#/usuarios">USU&Aacute;RIOS</a>
        </li>
        <li class="list-group-item list-item" data-ng-if="appCt.isAdmin()">
            <i class="fa fa-gear"></i>
            <a href="#/configuracoes">CONFIGURA&Ccedil;&Otilde;ES</a>
        </li>
        <div app-loading loading="menuCt.isLoading()"></div>
    </ul>
</div>
