#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $_= "$" )
##--------------------------------------------------------------------------------------------------------
##--------------------------------------------------------------------------------------------------------
## Key fields = fields in Primary Key
#set( $keyFields = $entity.keyAttributes )
##--------------------------------------------------------------------------------------------------------
## Data fields = fields not in Primary Key
#set( $dataFields = $entity.nonKeyAttributes )
##--------------------------------------------------------------------------------------------------------
## All fields ( ordered fiels : 1) fields in Primary Key 2) fields not in primary key
#set( $allFields = $fn.concatLists($keyFields, $dataFields) )
##--------------------------------------------------------------------------------------------------------
#set($count = 0)

<div class="container-fluid"  >
<form name="form" class="form-validate" ng-controller="${entity.name}Controller as ${fn.uncapitalize($entity.name)}Controller" >
	<div class="panel .panel-default">
		<div class=".panel-heading">{{ 'label.${uncapitalizedEntityName}.titulo.sel' | translate }}</div>
	</div>

	<div class="row">

#foreach( $field in $allFields )
	#if( $field.isSelected() )
		#set($htmlId      = "${uncapitalizedEntityName}_${field.name}" )
		#set($htmlName    = $field.name )
#set($fields = [])
#set($ttt = $fields.add($field))
#set($referencedEntityTypes = $entity.referencedEntityTypes($fields) )

		<div class="col-md-2">
			<label>{{ 'label.${uncapitalizedEntityName}.${field.name}' | translate}}:</label> <input type="text"
				ng-model="${uncapitalizedEntityName}Arg.${field.name}" class="form-control">
		</div>

#end
#set($count = $count + 1)
#end

		
		
	</div>

	<br/>

	<div class="row">
		<plc-grid sref="${uncapitalizedEntityName}.man" />
	</div>

	<div class="form-group">
	    <div class="col-sm-4">
	    	<button type="button" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.find();" >{{ 'label.pesquisar' | translate }}</button>
	    	<button type="button" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.clear();" >{{ 'label.limpar' | translate }}</button>
	    	<button type="button" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.new();" >{{ 'label.novo' | translate }}</button>
	    </div>
	</div>

</form>
</div>
