#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $_= "$" )
##--------------------------------------------------------------------------------------------------------
##--------------------------------------------------------------------------------------------------------
## Key fields = fields in Primary Key
#set( $keyFields = $entity.keyAttributes )
##--------------------------------------------------------------------------------------------------------
## Data fields = fields not in Primary Key
#set( $dataFields = $entity.nonKeyAttributes )
##--------------------------------------------------------------------------------------------------------
## All fields ( ordered fiels : 1) fields in Primary Key 2) fields not in primary key
#set( $allFields = $fn.concatLists($keyFields, $dataFields) )
##--------------------------------------------------------------------------------------------------------
<div class="container-fluid" ng-controller="${entity.name}Controller as ${fn.uncapitalize($entity.name)}Controller" >
<form name="form" class="form-validate">
	<div class="panel .panel-default">
		<div class=".panel-heading">{{ 'label.${uncapitalizedEntityName}.titulo' | translate }}</div>
	</div>
#set($count = 0)
#set($isModalOrFileuploadPrev = false)
#foreach( $field in $allFields )
	#if( $field.isSelected() )
		#set($htmlId      = "${uncapitalizedEntityName}_${field.name}" )
		#set($htmlName    = $field.name )
#set($fields = [])
#set($ttt = $fields.add($field))
#set($referencedEntityTypes = $entity.referencedEntityTypes($fields) )
#set($ng_disabled = "")
#if( $field.isKeyElement() )
	#set($ng_disabled = " ng-disabled=""true""")
#end
#set($count = $count + 1)
#if(!($field.inputType == "modal" || $field.inputType == "fileupload"))
#set($isModalOrFileuploadPrev = false)
#if( $count % 3 == 1 )
<div class="row">
#end
<div class="col-md-4">
		#if($field.inputType == "textarea" || $field.inputType == "text" || $field.inputType == "number")
		<label for="${htmlId}">{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}</label>
		#end
		#if( $field.inputType == "textarea" )
		<textarea id="${htmlId}" ng-model="${fn.uncapitalize($entity.name)}.${htmlName}" name="${htmlName}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" class="form-control" rows="3" $ng_disabled></textarea>
		#elseif( $field.inputType == "dynamic-combo" )
		<plc-dynamic-combo ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" name="${htmlName}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" ng-item-description="descricao" ng-entity="${field.formattedName(0)}" />
		#elseif( $field.inputType == "static-combo" )
		<plc-static-combo ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" name="${htmlName}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" ng-enum="${field.formattedName(0)}" ng-enum-value="${field.name}"/>
		#elseif( $field.inputType == "radiobox" )
		<plc-radio ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" name="${htmlName}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}"  ng-item-description="descricao" ng-enum="${field.formattedName(0)}" ng-enum-value="${field.name}" />
		#elseif( $field.inputType == "checkbox" )
		<plc-check ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" name="${htmlName}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}"/>
		#elseif( $field.inputType == "datepicker" )
<plc-date-picker ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" name="${htmlName}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}"  />
#else
<input type="text" id="${htmlId}" ng-model="${fn.uncapitalize($entity.name)}.${htmlName}" name="${htmlName}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" class="form-control" maxLength="${field.guiMaxLength}" $ng_disabled/>
		#end
	</div>
		#if( $count % 3 == 0 )
	</div>
				#end
			#else
		#if(!$isModalOrFileuploadPrev && !($count % 3 == 1))
</div>
				#end
				#set($isModalOrFileuploadPrev = true)
		#end
#if( $count % 3 == 3 )
	</div>
			#end
	#if($field.inputType == "modal" || $field.inputType == "fileupload")
	<div class="row">
	#if( $field.inputType == "modal" )
		<plc-aggregate-modal label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" ng-model-lookup="descricao"		template="app/${fn.uncapitalize($entity.name)}/${fn.uncapitalize($entity.name)}sel.html" />
				#elseif( $field.inputType == "fileupload" )
		<plc-file-upload name="${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" url="/${fn.uncapitalize($entity.name)}/${field.formattedName(0)}/{{${fn.uncapitalize($entity.name)}.${field.formattedName(0)}.id}}"	model-filename="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}.nome" />
				#end
	</div>
			#end
		#end
	#end
	#set($temDetalhe = "0")
	#foreach($link in $entity.selectedLinks)
		#if($link.isCardinalityOneToMany())
      		#set($temDetalhe = "1")
		#end
	#end
#if( $temDetalhe == "1" )
	<br />
	<div class="form-group">
		<uib-accordion close-others="oneAtATime">
			<uib-accordion-group heading="{{detalhe.titulo}}" ng-repeat="detalhe in detalhes">
				<div ng-include="detalhe.template"></div>
			</uib-accordion-group>
		</uib-accordion>
	</div>
#end
<br/>
	<div class="form-group">
		<div class="col-sm-4">
			<button type="button" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.new();">Novo</button>
			<button type="submit" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.save();">Salvar</button>
			<button type="button" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.list();">Listar</button>
			<button type="button" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.remove();">Excluir</button>
		</div>
	</div>
</form>
</div>
