#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $_= "$" )
##--------------------------------------------------------------------------------------------------------
##--------------------------------------------------------------------------------------------------------
## Key fields = fields in Primary Key    
#set( $keyFields = $entity.keyAttributes )
##--------------------------------------------------------------------------------------------------------
## Data fields = fields not in Primary Key    
#set( $dataFields = $entity.nonKeyAttributes )
##--------------------------------------------------------------------------------------------------------
## All fields ( ordered fiels : 1) fields in Primary Key 2) fields not in primary key    
#set( $allFields = $fn.concatLists($keyFields, $dataFields) )
##--------------------------------------------------------------------------------------------------------

<div class="container-fluid" ng-controller="${entity.name}Controller as ${fn.uncapitalize($entity.name)}Controller"  >
<form name="form" class="form-validate">
	<div class="panel .panel-default">
		<div class=".panel-heading">{{ 'label.${uncapitalizedEntityName}.titulo.sel' | translate }}</div>
	</div>

	<div class="row">
		<div class="col-md-2">
			<label>Nome:</label> <input type="text"
				ng-model="${uncapitalizedEntityName}Arg.id" class="form-control">
		</div>
		<!--div class="col-md-2">
			<label>Nome:</label> <input type="text"
				ng-model="${uncapitalizedEntityName}Arg.nome" class="form-control">
		</div-->
	</div>

	<br/>

	<div class="row">
		<plc-grid sref="${uncapitalizedEntityName}.man" />
	</div>

	<div class="form-group">
	    <div class="col-sm-4">
	    	<button type="button" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.find();" >Pesquisar</button>
	    	<button type="button" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.clear();" >Limpar</button>
	    	<button type="button" class="btn btn-default" ng-click="${uncapitalizedEntityName}Controller.new();" >Novo</button>
	    </div>
	</div>

</form>
</div>
