<!-- BEGIN Page Wrapper -->
<div id="page-wrapper" ng-class="{'open': appController.toggle}" ng-cloak>

	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar">
			<li class="sidebar-main"><a
				ng-click="appController.toggleSidebar()"> RhDemo <span
					class="menu-icon glyphicon glyphicon-transfer"></span>
			</a></li>

			<li ng-class="getMenuItemPropClasses(item)"
				ng-repeat="item in appController.menuItems | orderBy:'position'"
				ng-init="pIndex = $index"
				ng-include="'app/components/template/menu-template.html'"
				ng-click="appController.toggleCollapse(pIndex, true)"></li>


		</ul>
		<div class="sidebar-footer">
			<div class="col-xs-4">
				<a href="http://www.powerlogic.com.br" target="_blank">
					Powerlogic </a>
			</div>
			<div class="col-xs-4">
				<a href="javascript:alert('Em desenvolvimento, volte em breve')">
					Ajuda </a>
			</div>
			<div class="col-xs-4">
				<a href="#" ng-click="appController.logout()" title="Desconectar">
					<i class="fa fa-power-off fa-lg"></i> Sair
				</a>
			</div>
		</div>
	</div>
	<!-- End Sidebar -->

	<div id="content-wrapper">
		<div class="page-content">

			<!-- Header Bar -->
			<div class="row header" ng-if="appController.isLogged">
				<div class="col-xs-12">
					<div class="user pull-right">
						<div id="profile" ng-mouseover="appController.profileShow()"
							ng-mouseleave="appController.profileHide()" class="item dropdown">
							<a class="dropdown-toggle"><img
								src="assets/images/avatar.jpg"> </a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="dropdown-header">{{user.name}}</li>
								
								<li class="divider"></li>
								<li class="dropdown-header">
									<div plc-language-select></div>
								</li>
								<li class="divider"></li>
								<li class="link"><a ng-click="appController.logout()"
									href="#"> Logout </a></li>
							</ul>

						</div>

						<div id="notification"
							ng-mouseover="appController.notificationShow()"
							ng-mouseleave="appController.notificationHide()"
							class="item dropdown" style="margin-right: 10px;">
							<a href="#" class="dropdown-toggle"> <i class="fa fa-bell-o"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li class="dropdown-header">Notificações</li>
								<li class="divider"></li>
								<li><a>Sem Notificações</a></li>
							</ul>
						</div>

					</div>
					<div class="meta">
						<div class="page">P&aacute;gina Principal</div>
						<div class="breadcrumb-links">Inicial / Painel</div>

					</div>
				</div>

			</div>
			<!-- End Header Bar -->

			<div ui-view></div>

		</div>
		<!-- End Page Content -->
	</div>
	<!-- End Content Wrapper -->

</div>
<!-- End Page Wrapper -->


