<div class="container-fluid" ng-controller="DepartamentoController as departamentoController">


	<form name="form" class="form-validate">

	<div class="panel .panel-default">
		<div class=".panel-heading">
		 Cadastro de Departamentos
		</div>
	</div>

	<div class="row">
        <div class="col-md-4">
            
          	<label>Id:</label>
  			<input type="text" ng-model="departamento.id" class="form-control" disabled="disabled">
           
        </div>

        <div class="col-md-8">
           
            <label>Descri&ccedil;&atilde;o:</label>
			<input type="text" name="descricao" ng-model="departamento.descricao"  class="form-control">
            
        </div>
	</div>

	<div class="row">

		<plc-aggregate-modal label="Departamento Pai:" ng-model="departamento.departamentoPai" ng-model-lookup="descricao"
			template="app/departamento/departamentosel.html" />
		
     	
    </div>


	<div class="form-group">
	    <div class="col-sm-4">
	    	<button type="button" class="btn btn-default" ng-click="departamentoController.new();" >Novo</button>
	    	<button type="submit" class="btn btn-default" ng-click="departamentoController.save();" >Salvar</button>
	    	<button type="button" class="btn btn-default" ng-click="departamentoController.list();" >Listar</button>
	    	<button type="button" class="btn btn-default" ng-click="departamentoController.remove();" >Excluir</button>
	    </div>

	</div>

	</form>
	
</div>
