<div class="container-fluid" >

	<div class="panel .panel-default">
		<div class=".panel-heading">
		 Consulta de Departamentos
		</div>
	</div>

	<div class="row">
        <div class="col-md-8">
           
            <label>Descri&ccedil;&atilde;o:</label>
			<input type="text" ng-model="departamentoArg.descricao" class="form-control">
            
        </div>
	</div>

	<br/>

	<div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid"></div>

	<br/>

	<div class="form-group">
	    <div class="col-sm-4">
	    	<button type="button" class="btn btn-default" ng-click="find();" >Pesquisar</button>
	    	<button type="button" class="btn btn-default" ng-click="clear();" >Limpar</button>
	    	<button type="button" class="btn btn-default" ng-click="new();" ng-if="!ehVinculado" >Novo</button>
	    	<button type="button" class="btn btn-default" ng-click="closeThisDialog('button')"  ng-if="ehVinculado">Fechar</button>
	    </div>
	</div>

	
</div>
