<div class="container-fluid">
<form name="form" class="form-validate" novalidate >
	<div class="panel .panel-default">
		<div class=".panel-heading">
      {{'label.heading.modal.departamento' | translate}}
		</div>
	</div>

	<div class="row">
        <div class="col-md-8">

            <label>{{'label.departamento.descricao' | translate}}:</label>
			<input type="text" ng-model="departamentoArg.descricao" class="form-control">

        </div>
	</div>

	<div class="row">

		<plc-grid sref="departamento.man" />

	</div>

	<div class="form-group">
	    <div class="col-sm-4">
	    	<button type="button" class="btn btn-default" ng-click="departamentoModalController.find();" >Pesquisar</button>
	    	<button type="button" class="btn btn-default" ng-click="departamentoModalController.clear();" >Limpar</button>
	    	<button type="button" class="btn btn-default" ng-click="closeThisDialog('button')">Fechar</button>
	    </div>
	</div>
</form>





</div>
