<div class="container" style="">
	<div class="row" id="pwd-container">
		<div class="col-md-4"></div>
		<alert ng-repeat="msg in messages" type="{{msg.type}}"
			close="closeMessage($index)">{{msg.message}}</alert>
		<div class="col-md-4">
			<section class="login-form">
				<form method="post" action="#" role="login">
					<img src="assets/images/topo_site_jaguar.png"
						class="img-responsive" alt="" /> <input type="text"
						id="inputUsername" class="form-control" autofocus="" required=""
						placeholder="Usu&aacute;rio" ng-model="username" maxlength="20">

					<input type="password" id="inputPassword" class="form-control"
						required="" placeholder="Senha" ng-model="password" maxlength="20">

					<div class="pwstrength_viewport_progress"></div>
					<button class="btn btn-lg btn-primary btn-block" type="submit"
						ng-disabled="isLoading()" ng-click="login($event)">Acessar</button>
				</form>
				<div class="form-links">
					<a href="#">www.powerlogic.org</a>
				</div>
			</section>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>

<style type="text/css">
@CHARSET "UTF-8";
/*
over-ride "Weak" message, show font in dark grey
*/
.progress-bar {
	color: #333;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@
	include
	box-sizing(border-box);
	&:
	focus
	{
	z-index
	:
	2;
}

}
body {
	background: url(assets/images/jcompany-background.jpg) no-repeat center
		center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.login-form {
	margin-top: 60px;
}

form[role=login] {
	color: #5d5d5d;
	background: #f2f2f2;
	padding: 26px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

form[role=login] img {
	display: block;
	margin: 0 auto;
	margin-bottom: 35px;
}

form[role=login] input, form[role=login] button {
	font-size: 18px;
	margin: 16px 0;
}

form[role=login]>div {
	text-align: center;
}

.form-links {
	text-align: center;
	margin-top: 1em;
	margin-bottom: 50px;
}

.form-links a {
	color: #fff;
}


#page-wrapper.open {
    padding-left: 0px !important;
}
</style>

