<div class="panel panel-default panel-primary margin-bottom-60" ng-controller="UserFormController as userFormCt" ng-cloak>
	<div class="panel-heading">
		<h3 class="panel-title">Cadastro de Usu&aacute;rios</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="container-fluid padding-bottom">
				<form class="form-inline">
					<div class="form-group">
						<label for="txtUsername">Nome Usu&aacute;rio:</label><br/>
						<div class="input-group">
							<input type="search" class="form-control" id="txtUsername" placeholder="Digite um nome de usuário"
								data-ng-model="userFormCt.username">
							<div class="input-group-btn">
								<button type="submit" class="btn btn-default" data-ng-click="userFormCt.pesquisaUsuarioCTJ()"><span class="fa fa-search"></span></button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="container-fluid padding-bottom" id="panelUsuariosCTJ" data-ng-if="userFormCt.loadingUsuarios() || userFormCt.usuariosCTJ.length">
				<div class="panel panel-default" >
					<div class="panel-heading">Resultado da Pesquisa</div>
					<div class="panel-body">
						<div data-ng-if="!userFormCt.loadingUsuarios()">
							<div data-ng-show="userFormCt.usuariosCTJ.length" class="table-responsive">
								<table class="display table table-striped table-hover table-condensed">
									<thead>
										<tr>
											<th>
												<label class="checkbox" for="pesquisa-checkall">
													<input type="checkbox" name="pesquisa-checkall"
														data-ng-model="userFormCt.selectAll" id="pesquisa-checkall"
														data-ng-click="userFormCt.selecionarTodos()"><i></i>
												</label>
											</th>
											<th>CPF</th>
											<th>Nome</th>
										</tr>
									</thead>
									<tbody data-ng-if="userFormCt.usuariosCTJ.length">
										<tr class="repeat-animation" data-ng-class="{ 'text-line-through': usuario.disabled }"
											data-ng-repeat="usuario in userFormCt.usuariosCTJ">
											<td scope="row">
												<label class="checkbox" for="check-{{usuario.cpf}}" data-ng-show="!usuario.disabled">
													<input type="checkbox" name="check-{{usuario.cpf}}" id="check-{{usuario.cpf}}"
														data-ng-bind="usuario.selecionado" data-ng-model="usuario.selecionado"
														data-ng-change="userFormCt.adicionarRemover(usuario);"
														data-ng-disabled="usuario.disabled"><i></i>
												</label>
											</td>
											<td data-ng-bind="usuario.cpf"></td>
											<td data-ng-bind="usuario.nome"></td>
										</tr>
									</tbody>
								</table>
								<button type="button" class="btn btn-primary f-right" data-ng-disabled="userFormCt.loadingSubordinados()" data-ng-click="userFormCt.adicionarSelecionados()">Adicionar Selecionados</button>
							</div>
						</div>
						<div app-loading loading="userFormCt.loadingUsuarios()"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="container-fluid">
				<table class="display table table-striped" data-height="400">
					<thead>
						<tr>
							<th>CPF</th>
							<th>Nome</th>
							<th>Controle de Acesso</th>
							<th class="text-center">A&ccedil;&otilde;es</th>
						</tr>
					</thead>
					<tbody>
						<tr class="repeat-animation" data-ng-repeat="usuario in userFormCt.usuariosSubordinados">
							<td data-ng-bind="usuario.cpf"></td>
							<td data-ng-bind="usuario.nome"></td>
							<td>
								<label class="radio radio-inline text-center" for="R{{usuario.id}}">
									<input type="radio" name="acesso{{usuario.id}}" id="R{{usuario.id}}" value="R"
										data-ng-model="usuario.permissoes" ng-change="userFormCt.mudaPermissoes(usuario)"><i></i>Leitura
								</label>
								<label class="radio radio-inline text-center" for="W{{usuario.id}}">
									<input type="radio" name="acesso{{usuario.id}}" id="W{{usuario.id}}" value="W"
										data-ng-model="usuario.permissoes" ng-change="userFormCt.mudaPermissoes(usuario)"><i></i>Escrita
								</label>
								<label class="radio radio-inline text-center" for="A{{usuario.id}}">
									<input type="radio" name="acesso{{usuario.id}}" id="A{{usuario.id}}" value="A"
										data-ng-model="usuario.permissoes" data-ng-change="userFormCt.mudaPermissoes(usuario)"><i></i>Administrador
								</label>
							</td>
							<td class="text-center">
								<button class="btn btn-xs btn-danger" data-ng-click="userFormCt.excluirSubordinado(usuario)">
									<i class="fa fa-times"></i>
								</button>
							</td>
						</tr>
						<tr data-ng-if="!userFormCt.usuariosSubordinados.length">
							<td colspan="4">
								<p>N&atilde;o existem usu&aacute;rios cadastrados.</p>
							</td>
						</tr>
					</tbody>
				</table>

				<small>
					<ul>
						<li>
							Leitura: Pode ver todos os artefatos, mas n&atilde;o pode fazer altera&ccedil;&atilde;o alguma. N&atilde;o acessa os menus de Usu&aacute;rios e Configura&ccedil;&otilde;es
						</li>
						<li>
							Escrita: Pode criar alterar e excluir os artefatos. N&atilde;o acessa os menus de Usu&aacute;rios e Configura&ccedil;&otilde;es.
						</li>
						<li>
							Administrador: Acesso completo a todas as funcionalidades do sistema.
						</li>
					</ul>
				</small>

				<div app-loading loading="userFormCt.loadingSubordinados()"></div>
			</div>
		</div>
	</div>
	<!-- <div class="action-buttons-area">
		<div class="container-fluid inner-area">
			<button type="button" class="btn btn-primary f-right">Cancelar</button>
			<button type="button" class="btn btn-primary f-right">Excluir</button>
			<button type="button" class="btn btn-primary f-right">Salvar</button>
		</div>
	</div> -->
</div>
