.dashboard {
	position: fixed;
	height:100%;
	width: 100%;
    bottom:0;
    top:0;
    left:0;
    right:0;
    padding: 25%;
    color: #4db6ac;
}
.dashboard:after {
	content: "";
}
.dashboard .system-name {
	text-transform: uppercase;
	font-size: 18px;
	width: 100%;
	display: block;
}
.dashboard .logo-cronos {
	width: 110px;
	height: 110px;
	background: url('../images/logo-cronos.png') no-repeat;
	background-size: contain;
	display: inline-block;
	position: relative;
	opacity: 0.9;
}
.grayscale {
	-webkit-filter: grayscale(70%);
	-moz-filter: grayscale(70%);
	-ms-filter: grayscale(70%);
	-o-filter: grayscale(70%);
	filter: grayscale(70%);
	filter: gray; /* IE 6-9 */
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}