ul.fab{
    text-align: center;
    list-style-type: none;
    position: fixed;
	bottom: 0px;
	right: 10px;
    z-index: 9999;
    padding: 0;
    margin: 10px;
}

/* FAB Modelo */
ul.fab-modelo{
    position: absolute;
    bottom: 30px;
    right: 45px;
    z-index: 1;
}
ul.fab-modelo .fab-inner{
    background-color: #26A69A;
}
ul.fab-modelo .fab-inner.disabled {
    background-color: #B0BEC5 !important;
    cursor: not-allowed;
}
ul.fab-modelo .fab-inner.disabled:hover {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) !important;
}
ul.fab-modelo.inline li{ display: inline; }
ul.fab-modelo.stack li{ display: block; }
/* FAB Modelo - FIM */

ul.fab .inner{
    margin: 10px 5px;
}
ul.fab a:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}
ul.fab .primary{
    padding-bottom: 0px;
}
a.fab{
    background-color: #F44336;
}
a.fab-modelo{
    background-color: #26A69A;
    width: 2.35em;
    height: 2.35em;
    line-height: 2.35em;
}
a.fab, a.fab-inner {
    outline: none;
    overflow: hidden;
  	cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    transition-property: box-shadow;
    transition-duration: 0.2s;
    border-radius: 50%;
}
.fab-primary, .fab-secondary {
    transition: all 0.35s ease;
    font-family:Arial,sans-serif,monospace;
    font-weight: 100;
}
.fab.active .fab-primary {
    opacity: 0;
    transform: rotate(225deg);
}
.fab-secondary {
    opacity: 0;
    transform: rotate(-225deg);
    font-size: 30px;
}
.fab-modelo .fab-secondary {
    font-size: inherit;
}
a.fab.active .fab-secondary {
    opacity: 1;
    transform: rotate(45deg);
}
.fab-back-topico {
    background-color: #4DADD6;
    transition-delay: 0.05s;
}
.fab-back-modelo {
    background-color: #5FC080;
    transition-delay: 0.1s;
}
.fab-back-sentenca {
    background-color: #FFA935;
    transition-delay: 0.15s;
}
a.fab-inner {
    transform: scale(0);
    transition-property: transform;
    transition-timing-function: ease;
}
a.fab-inner.active {
    transform: scale(1);
    transition-property: transform;
    transition-timing-function: ease;
}
a.fab-inner.ng-hide + div.tooltip,
a.fab-modelo.ng-animate + div.tooltip {
    display: none !important;
}
