/* Form Components */
th > label.checkbox, th > label.radio {
	top: 6px;
}
.text-line-through {
    text-decoration: line-through !important;
}
.text-overline {
    text-decoration: overline !important;
}
.text-truncate {
    position: relative;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: normal;
    text-overflow: ellipsis;
    display: inline-block;
}
.obrigatorio.haserror {
 	border : 1px solid #ff0000!important;
}
.obrigatorioEtiqueta.haserror {
 	border : 1px solid #ff0000!important;
}
.obrigatorioElemento.haserror {
 	border : 1px solid #ff0000!important;
}

label.checkbox, label.radio {
	display: block;
	position: relative;
	padding: 0;
   	margin: 0;
	font-weight: normal;
	-webkit-tap-highlight-color: transparent;
    user-select: none;
	cursor: pointer;
}
label.checkbox-inline, label.radio-inline {
	display: inline-block;
    margin-right: 15px;
}
label.radio-inline+label.radio-inline, label.checkbox-inline+label.checkbox-inline {
    margin-left: 0;
}
label.checkbox i, label.radio i {
	display: inline-block;
	height: 25px;
	position: relative;
	top: -3px;
	font-style: normal;
	color: #aaa;
	vertical-align: middle;
}
label.checkbox span, label.radio span {
	display: inline-block;
	margin-left: 5px;
	position: absolute;
}

input[type="radio"], input[type="checkbox"] {
	display: none;
}
input[type="radio"]:checked + i, input[type="checkbox"]:checked + i {
	position: relative;
	-webkit-animation: icon-beat 0.1s ease;
	animation: icon-beat 0.1s ease;
}
input[type="radio"].obrigatorio.haserror + i:before,
	input[type="checkbox"].obrigatorio.haserror + i:before {
		color : #ff0000;
}
input[type="radio"] + i:before, input[type="checkbox"] + i:before {
 	font-family: 'FontAwesome';
 	font-size: 20px;
 	height: 25px;
 	width: 25px;
 	display: inline-block;
}

/* Input Radio */
input[type="radio"] + i:before { content: "\f10c"; }
input[type="radio"]:checked + i:before { content: "\f058"; }

/* Input Checkbox */
input[type="checkbox"] + i:before { content: "\f096"; }
input[type="checkbox"]:checked + i:before { content: "\f14A"; }

/* Input Checkbox + Input Radio */
input[type="radio"]:checked + i + span, input[type="radio"]:checked + i:before,
input[type="checkbox"]:checked + i:before { color: #4db6ac; }

.pesquisa-geral .input-group-btn button {
    outline-style: none;
    border-top-right-radius: 21px;
    border-bottom-right-radius: 21px;
}
.pesquisa-geral .form-field {
    border-top-left-radius: 21px;
    border-bottom-left-radius: 21px;
}

.pesquisa-geral .form-field-left {
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0px;
}

.row.default-margin-bottom {
	margin-bottom: 15px;
}
.row.no-margin-top {
	margin-top: -15px;
}
.panel > .panel-heading {
	text-transform: uppercase;
}
.panel.panel-slim .panel-heading,
.panel > .panel-body .panel-heading {
    padding: 6px 10px !important;
}
.panel .panel-heading,
.panel a.panel-heading {
    display: block;
    outline: none;
    text-decoration: none;
}
.panel .panel-heading .fa{
    padding-right: 2px;
}
.panel .panel-heading .icon{
    float: right;
    padding-left: 8px;
}
.panel .panel-heading .radio,
.panel .panel-heading .checkbox {
    float: right;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    line-height: 1.45;
    top: -2px;
}
.panel-primary .panel-heading,
.panel-primary a.panel-heading {
    color: #fff;
    background-color: #4db6ac;
    border-color: #4db6ac;
}
.panel-primary .panel-heading .radio i,
.panel-primary .panel-heading .checkbox i {
	color: #eee;
}
.panel-primary .panel-heading input[type="checkbox"]:checked + i:before {
	color: #fff;
}

/* Editor styling TODO COLOCAR CSS CORRETO */
.ta-toolbar {
	background-color: #F0F0F0;
	padding: 10px 10px 5px;
	margin-left: 0px; /* Override bootstrap */
	border: 1px solid #EEE;
}

.ta-toolbar .btn-group {
    margin-bottom: 5px;
	margin-right: 2px;
}

.ta-editor, .white-box {
	font-family: Arial, sans-serif !important;
	font-size: 14px !important;
	min-height: 70px;
	max-height: 200px;
	overflow: auto;
	padding: 10px;
	border-top: 1px solid #EEE;
}
.ta-root {
	background-color: #fff;
	transition: all 0.5s ease-in-out;
	/*overflow: hidden;*/
	border-radius: 0 0 3px 3px;
}
.ta-toolbar > .btn-group:first-child {
	float: right;
}
.expanded-editor.desativado {
	position: absolute;
	top: 39px;
	left: 1px;
	right: 1px;
	bottom: 1px;
	z-index: 9999;
}
.expanded-editor {
    background-color: #F0F0F0;
    transition: all 0.1s ease-in-out;
    position: fixed !important;
    top: 52px !important;
    left: 1px !important;
    right: 1px !important;
    bottom: 1px !important;
    z-index: 99999999 !important;
}
.expanded-editor .ta-editor {
	padding: 0!important;
	position: absolute;
	max-height: 100%!important;
	height: 100%;
	width: 100%;
}
.expanded-editor div[id*='taTextElement'],
.expanded-editor div[id^='taTextElement'] {
	background-color: #fff;
	position: relative!important;
	height: 100%;
	max-height: 90%;
	overflow: auto;
}
textarea.ta-bind {
	width: 100%;
}
.wrap-dropdown-fontname,
.wrap-dropdown-token,
.wrap-dropdown-alega {
	padding: 0 !important;
	border: none !important;
	transition: all 0.3s ease-in-out;
}
.wrap-dropdown-fontname:hover > .dropdown-fontname,
.wrap-dropdown-token:hover > .dropdown-token,
.wrap-dropdown-alega:hover > .dropdown-alega {
    display: block;
}
.wrap-dropdown-fontname[disabled]:hover > .dropdown-fontname,
.wrap-dropdown-token[disabled]:hover > .dropdown-token,
.wrap-dropdown-alega[disabled]:hover > .dropdown-alega {
    display: none;
}
.wrap-dropdown-fontname[disabled] .dropdown-toggle,
.wrap-dropdown-token[disabled] .dropdown-toggle,
.wrap-dropdown-alega[disabled] .dropdown-toggle {
    cursor: not-allowed;
    background-color:inherit;
    border-color: #ccc;
}
.btn-dropdown-fontname,
.btn-dropdown-token,
.btn-dropdown-alega {
	z-index: 99;
}
.dropdown-fontname.dropdown-menu,
.dropdown-token.dropdown-menu,
.dropdown-alega.dropdown-menu {
	position: absolute !important;
	z-index: 999 !important;
	opacity: 1 !important;
	margin-top: 0 !important;
}
.dropdown-fontname li:last-child .btn,
.dropdown-token li:last-child .btn,
.dropdown-alega li:last-child .btn {
    border-bottom: none;
}
.dropdown-fontcolor {
	min-width: 30px !important;
}
.label-etiqueta {
    background-color: #eee;
    color: #777;
    margin-right: 5px;
}
.label-etiqueta a {
    color: #777;
    font-size: 15px;
}
.btn.btn-flat,
.btn.btn-flat:active {
    width: 100%;
    background: transparent;
    text-align: left;
    /*border-bottom: solid 1px #eee;*/
    border: none;
    border-radius: 0;
    vertical-align: middle;
    box-shadow: none;
    outline: none;
}
.btn.btn-flat:hover {
    background-color: #eee;
}
div[app-elemento] .panel-body {
	padding-bottom: 0;
	border: none;
}
.colorpicker {
    z-index: 9999999;
}
.tooltip-pesquisa-geral + .tooltip > .tooltip-inner {
	max-width: 450px !important;
	text-align: left;
}

.action-buttons-area {
    position:fixed;
    bottom:0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
}
.action-buttons-area .btn {
    margin: auto 3px;
    min-width: 90px;
}
.action-buttons-area .inner-area {
    border-radius: 5px 5px 0 0;
    padding:5px 90px 10px 15px;
    background:#efefef;
}
.recuo-ementa [id*='taTextElement'] {
	margin-left: 240px;
}
blockquote {
    margin: auto;
    border: 0;
    padding: 0;
    font-size: inherit;
}
[text-angular] blockquote {
    margin: inherit;
    padding: inherit;
    font-size: inherit;
}

[text-angular].disabled .custom-ta-toolbar {
    display: none;
}
.ta-scroll-window > .ta-bind {
    min-height: 150px;
}

fieldset {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#alegacao-form table tr td{
	padding: 4px 8px;
}

.colorpicker {
	z-index: 99999999!important;
}
