.sidebar-navmenu {
	position: fixed;
	top: 20px;
	left: 0;
	z-index: 9999;
	width: 300px;
	height: 100% !important;
	background-color: #f6f6f6;
	transition: all 0.3s ease-in-out;
	border-right: solid 2px #4db6ac;
	overflow-y: auto;
}
.sidebar-navmenu .gt-item {
	padding-left:10px;
}
.sidebar-navmenu .gt-item a {
	color: #26a69a;
}
.sidebar-navmenu .menu-container {
	padding-top: 35px;
}
.sidebar-navmenu .list-group {
	position: relative;
	background-color: #ffffff;
}
.sidebar-navmenu .list-group-item {
	border-top: none;
	border-left: none;
	border-right: none;
	background-color: transparent;
}
.sidebar-navmenu .list-group-item div{
	cursor:pointer;
}
.sidebar-navmenu .list-group-item i{
	vertical-align: middle;
	font-size: 16px;
}
.sidebar-navmenu.collapse,
.sidebar-navmenu.collapsing,
.sidebar-navmenu.collapse.in {
	display: block !important;
}
.sidebar-navmenu.collapse {
	transform: translate3d(-300px, 0, 0);
}
.sidebar-navmenu.collapsing,
.sidebar-navmenu.collapse.in {
	transform: translate3d(0, 0, 0);
}
.context-menu-wrapper {
	width: 100%;
	position: relative;
}
.context-menu{
	position: absolute;
	z-index: 999;
	top: 15px !important;
	transition: opacity 0.3s;
}
.context-menu .dropdown-menu {
	border-radius: 0 !important;
	margin-left: -15px !important;
}
.context-menu ul.dropdown-menu li a{
	color: #333;
}
