.modal-backdrop {
    z-index: 9999999 !important;
}
.modal {
    overflow: auto;
    z-index: 99999999 !important;
    display: flex !important;
    height: 100%;
    cursor: default !important;
}
.modal .modal-dialog{
    z-index: 99999999 !important;
    margin: auto;
}
.modal-body{
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}
.modal-body ul {
}

.modal-body ul li {

}
.modal-footer .btn {
    min-width: 125px;
}
.modal-footer .btn-danger,
.modal-footer .btn-warning,
.modal-footer .btn-danger:focus{
    opacity: 0.7    ;
}

.lista-icones {
    list-style:none; padding:0;
}
.lista-icones .icone {
    border: 2px solid white;
    display: inline-block;
    margin: 4px;
    width: 27px;
    height: 27px;
    line-height: 27px;
    vertical-align: middle;
    text-align: center;
}
.lista-icones .icone.selected {
    border: 2px solid red;
}