#set( $lowerEntityName = $fn.toLowerCase($entity.name) )
#set( $dollarSymbol= "$" )

 , {
    "position" : 2,
    "sref": "${lowerEntityName}.tab",
    "icon": "menu-icon fa fa-compass",
    "translate": "label.menu.${lowerEntityName}",
    "text": ""
  }