#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $_= "$" )
##--------------------------------------------------------------------------------------------------------
##--------------------------------------------------------------------------------------------------------
## Key fields = fields in Primary Key    
#set( $keyFields = $entity.keyAttributes )
##--------------------------------------------------------------------------------------------------------
## Data fields = fields not in Primary Key    
#set( $dataFields = $entity.nonKeyAttributes )
##--------------------------------------------------------------------------------------------------------
## All fields ( ordered fiels : 1) fields in Primary Key 2) fields not in primary key    
#set( $allFields = $fn.concatLists($keyFields, $dataFields) )
##--------------------------------------------------------------------------------------------------------





<div class="container-fluid">

	<div class="panel .panel-default">
		<div class=".panel-heading"> {{ 'label.${uncapitalizedEntityName}.titulo' | translate }} </div>
	</div>

	SIGLAS

	<div class="row header" >

        <div class="col-md-2">
   
            <label>Sigla</label>
            
        </div>

        <div class="col-md-6">
           
            <label>Nome</label>
			
        </div>

	</div>


	ATRIBUTOS
	<div class="row" ng-repeat="row in rows">

		<div class="col-md-2">
			<input type="text" ng-model="row.uf.sigla" 		class="form-control">
			<input type="hidden" ng-model="row.uf.id" >
		    
		</div>

		<div class="col-md-6">    
			<input type="text" ng-model="row.uf.nome" class="form-control">     
		</div>

		<div class="col-sd-2">

		   	<button type="submit" class="btn btn-primary" ng-click="saveRow($index);">
			  <i class="glyphicon glyphicon-save-file"></i>
			</button>

			<button type="submit" class="btn btn-danger" ng-click="removeRow($index);" ng-if="row.uf.id">
			  <i class="glyphicon glyphicon-erase"></i>
			</button>

		</div>

	</div>
	<br/>

	
</div>




##--------------------------------------------------------------------------------------------------------
 

	#set($count = 0)

	#foreach( $field in $allFields )
	
		#if( $field.isSelected() )

			#set($htmlId      = "${uncapitalizedEntityName}_${field.name}" )
			#set($htmlName    = $field.name )
			#set($fields = [])
			#set($ttt = $fields.add($field))
			#set($referencedEntityTypes = $entity.referencedEntityTypes($fields) )
			#set($ng_disabled = "")

			#if( $field.isKeyElement() )
				#set($ng_disabled = " ng-disabled=""true""")
			#end

			#set($count = $count + 1)

			#if( $count % 3 == 1 )	
	<div class="row">
			#end

		<div class="col-md-4">

			<label for="${htmlId}">{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}</label>
			#if( $field.inputType == "textarea" )

			<textarea id="${htmlId}" ng-model="${fn.uncapitalize($entity.name)}.${htmlName}" name="${fn.uncapitalize($entity.name)}.${htmlName}" class="form-control" rows="3" $ng_disabled></textarea>
			#elseif( $field.inputType == "dynamic-combo" )

			<plc-dynamic-combo ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" name="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" ng-item-description="descricao" ng-entity="${field.formattedName(0)}" />
			#elseif( $field.inputType == "static-combo" )

			<plc-static-combo ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" name="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" ng-enum="${field.formattedName(0)}" ng-enum-value="${field.name}"/>
			#elseif( $field.inputType == "radiobox" )

			<plc-radio ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}"  name="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}"  ng-item-description="descricao" ng-enum="${field.formattedName(0)}" ng-enum-value="${field.name}" />
			#elseif( $field.inputType == "checkbox" )

			<plc-check ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" name="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}"/>
			#elseif( $field.inputType == "modal" )

			#elseif( $field.inputType == "fileupload" )

			#elseif( $field.inputType == "datepicker" )

			<plc-date-picker ng-model="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}" name="${fn.uncapitalize($entity.name)}.${field.formattedName(0)}"  label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}"  />
			#else

			<input type="text" id="${htmlId}" ng-model="${fn.uncapitalize($entity.name)}.${htmlName}" name="${fn.uncapitalize($entity.name)}.${htmlName}" class="form-control" maxLength="${field.guiMaxLength}" $ng_disabled/>
			#end

		</div>

			#if( $count % 3 == 0 )		

	</div>
			#end
		#end
	#end
	





	
