#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $dollarSymbol= "$" )
(function() {
  'use strict';

  angular
    .module('${PROJECT_NAME}')
    .factory('${entity.name}Service', ${entity.name}Service);

  ${entity.name}Service.${dollarSymbol}inject = ['PlcEntityService', 'PlcUtils'];

  /** @ngInject */
  function ${entity.name}Service(PlcEntityService) {

  	 
  	var Service = ${dollarSymbol}class(PlcEntityService, {

        constructor: function() {
            PlcEntityService.call(this, {
                 type: '${uncapitalizedEntityName}'
            });
        },

        /* METODOS REST */
        _all: function(${uncapitalizedEntityName}) {
            var url = PlcUtils.encodeURIParams(${uncapitalizedEntityName});
            return this._get('/all?'+url);
        },

        create: function() {
            return this._get('/create');
        },

        edit: function(id) {
            return this._get('/get/' + id);
        },

        save: function(data) {
            return this._post('/save', data);
        },

        remove: function(data) {
            return this._post('/remove', data);
        }
       
    });


    return new Service();
  }
  
})();
