#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $lowerEntityName = $fn.toLowerCase($entity.name) )
#set( $dollarSymbol= "$" )
(function() {
	'use strict';

	angular
	.module('${PROJECT_NAME}')
	.config(${entity.name}RouterConfig);


	function ${entity.name}RouterConfig(${dollarSymbol}stateProvider, ${dollarSymbol}urlRouterProvider) {


		${dollarSymbol}stateProvider
		.state('${lowerEntityName}', {
			url: '/${lowerEntityName}',
			templateUrl: 'app/${lowerEntityName}/${lowerEntityName}.html',
			controller: '${entity.name}Controller',
			controllerAs: '${lowerEntityName}Controller'
		});
	}

})();