#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $dollarSymbol= "$" )

(function() {
  'use strict';

  angular
    .module('${PROJECT_NAME}')
    .controller('${entity.name}Controller', '${entity.name}Controller );

  ${entity.name}Controller.${dollarSymbol}inject = ['${dollarSymbol}rootScope', '${dollarSymbol}scope', '${dollarSymbol}location', '${entity.name}Service', 'PlcNotificationService', 'PlcUtils'];

  /** @ngInject */
  function ${entity.name}Controller(${dollarSymbol}rootScope, ${dollarSymbol}scope, ${dollarSymbol}location, ${entity.name}Service, PlcNotificationService, PlcUtils) {

    ${dollarSymbol}scope.all = function(){
      ${entity.name}Service._all().then( function (response) {
        ${dollarSymbol}scope.rows = [];
        angular.forEach(response.data.entity, function(value, key) {
          var o = new Object();
          o.${entity.name} = value;
          ${dollarSymbol}scope.rows.push(o);
        });
        ${dollarSymbol}scope.rows.push(new Object());
        
      });
    };

    ${dollarSymbol}scope.saveRow = function(index){
      var rowElement = document.querySelectorAll('.row.ng-scope')[index];
      var temErro = PlcUtils.validaObrigatorio(rowElement);
      if (temErro) {    
        PlcNotificationService.error("CAMPOS_OBRIGATORIOS_TOPICO_024");
        return;
      }

      var incluiNovo = ${dollarSymbol}scope.rows[index].${entity.name} && ${dollarSymbol}scope.rows[index].${entity.name}.id ;
      ${entity.name}Service.save(${dollarSymbol}scope.rows[index].${entity.name}).then( function (response) {
          if (!incluiNovo){
            ${dollarSymbol}scope.rows.push(new Object());
          }
          ${dollarSymbol}scope.rows[index].${entity.name}  = response.data.entity;
         
      });
    };

    ${dollarSymbol}scope.removeRow = function(index){
      ${entity.name}Service.remove(${dollarSymbol}scope.rows[index].${uncapitalizedEntityName}).then( function (response) {
          ${dollarSymbol}scope.rows.splice(index, 1);
      });
    };

    ${dollarSymbol}scope.all();

  }

})();


