#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $lowerEntityName = $fn.toLowerCase($entity.name) )
#set( $_= "$" )
##--------------------------------------------------------------------------------------------------------
##--------------------------------------------------------------------------------------------------------
## Key fields = fields in Primary Key    
#set( $keyFields = $entity.keyAttributes )
##--------------------------------------------------------------------------------------------------------
## Data fields = fields not in Primary Key    
#set( $dataFields = $entity.nonKeyAttributes )
##--------------------------------------------------------------------------------------------------------
## All fields ( ordered fiels : 1) fields in Primary Key 2) fields not in primary key    
#set( $allFields = $fn.concatLists($keyFields, $dataFields) )
#set( $dollarSymbol= "$" )
##--------------------------------------------------------------------------------------------------------

<div class="container-fluid">

	<div class="panel .panel-default">
		<div class=".panel-heading"> {{ 'label.${uncapitalizedEntityName}.titulo' | translate }} </div>
	</div>

	<div class="row header" >

	#foreach( $field in $allFields )
	
		#if( $field.isSelected() )

		<div class="col-md-2">
			
			<label>{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}</label>

		</div>

		#end
	#end

	</div>


	<div class="row" ng-repeat="row in rows">
		<div >
			<input type="hidden" ng-model="row.uf.id" >
		</div>


	#foreach( $field in $allFields )
	
		#if( $field.isSelected() )

			#set($htmlId      = "${uncapitalizedEntityName}_${field.name}" )
			#set($htmlName    = $field.name )
			#set($fields = [])
			#set($ttt = $fields.add($field))
			#set($referencedEntityTypes = $entity.referencedEntityTypes($fields) )
			#set($ng_disabled = "")

			#if( $field.isKeyElement() )
				#set($ng_disabled = " ng-disabled=""true""")
			#end

	 
		<div class="col-md-2">
			#if( $field.inputType == "textarea" )
			<textarea id="${htmlId}" ng-model="row.${lowerEntityName}.${field.formattedName(0)}" class="form-control" rows="3" $ng_disabled></textarea>
			#elseif( $field.inputType == "dynamic-combo" )
			<plc-dynamic-combo ng-model="row.${lowerEntityName}.${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" ng-item-description="descricao" ng-entity="${field.formattedName(0)}" />
			#elseif( $field.inputType == "static-combo" )
			<plc-static-combo ng-model="row.${lowerEntityName}.${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}" ng-enum="${field.formattedName(0)}" ng-enum-value="${field.name}"/>
			#elseif( $field.inputType == "radiobox" )
			<plc-radio ng-model="row.${lowerEntityName}.${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}"  ng-item-description="descricao" ng-enum="${field.formattedName(0)}" ng-enum-value="${field.name}" />
			#elseif( $field.inputType == "checkbox" )
			<plc-check ng-model="row.${lowerEntityName}.${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}"/>
			#elseif( $field.inputType == "modal" )
			#elseif( $field.inputType == "fileupload" )
			#elseif( $field.inputType == "datepicker" )
			<plc-date-picker ng-model="row.${lowerEntityName}.${field.formattedName(0)}" label="{{ 'label.${fn.uncapitalize($entity.name)}.${field.formattedName(0)}' | translate }}"  />
			#else
			<input type="text" id="${htmlId}" ng-model="row.${lowerEntityName}.${field.formattedName(0)}" class="form-control" maxLength="${field.guiMaxLength}" $ng_disabled/>
			#end
		</div>

		#end
	#end

		<div class="col-sd-2">

		   	<button type="submit" class="btn btn-primary" ng-click="saveRow(${dollarSymbol}index);">
			  <i class="glyphicon glyphicon-save-file"></i>
			</button>

			<button type="submit" class="btn btn-danger" ng-click="removeRow(${dollarSymbol}index);" ng-if="row.${lowerEntityName}.id">
			  <i class="glyphicon glyphicon-erase"></i>
			</button>

		</div>

	</div>
	<br/>
	
</div>