                <div data-ng-show="!sentencaCt.isLoadingCPU()" class="view-animate">
                    <div class="form-group">
                        <label>Classe</label><br/>
                        <input type="text" class="form-control input-sm" data-ng-model="sentencaCt.getDadosProcesso().classeCNJ" readonly>
                    </div>

                    <div class="form-group">
                        <label>Assunto</label><br/>
                        <input type="text" class="form-control input-sm" data-ng-model="sentencaCt.getDadosProcesso().assuntoCNJ" readonly>
                    </div>

                    <div class="form-group">
                        <label>Partes</label><br/>
                        <fieldset>
                            <div class="form-group">
                                <label>Autor(es)</label><br/>
                                <textarea class="form-control" rows="5" data-ng-bind="sentencaCt.getAutores()" name="txaAutores" readonly></textarea>
                                <div class="row" data-ng-if="false">
                                    <div class="col-xs-10 padding-right-0">
                                        <input type="text" class="form-control input-sm" data-ng-model="sentencaCt.getDadosProcesso().autor[0].nome" readonly>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="submit" class="btn btn-sm btn-default"
                                            data-ng-click="sentencaCt.visualizarAutores()"
                                            data-ng-disabled="sentencaCt.getDadosProcesso().autor.length <= 1"
                                            data-ng-class="{'btn-info': sentencaCt.getDadosProcesso().autor.length > 1}">
                                            <i class="fa fa-search-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>R&eacute;u(s)</label><br/>
                                <textarea class="form-control" rows="5" data-ng-bind="sentencaCt.getReus()" name="txaReus" readonly></textarea>
                                <div class="row" data-ng-if="false">
                                    <div class="col-xs-10 padding-right-0">
                                        <input type="text" class="form-control input-sm" data-ng-model="sentencaCt.getDadosProcesso().reu[0].nome" readonly>
                                    </div>
                                    <div class="col-xs-2">
                                        <button type="submit" class="btn btn-sm btn-default"
                                            data-ng-click="sentencaCt.visualizarReus()"
                                            data-ng-disabled="sentencaCt.getDadosProcesso().reu.length <= 1"
                                            data-ng-class="{'btn-info': sentencaCt.getDadosProcesso().reu.length > 1}">
                                            <i class="fa fa-search-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group" data-ng-show="false">
                        <label>Atua&ccedil;&atilde;o</label><br/>
                        <fieldset>
                            <div class="form-group">
                                <label>Comarca</label><br/>
                                <input type="text" class="form-control input-sm" data-ng-model="sentencaCt.getDadosProcesso().codigoComarca" readonly>
                            </div>
                            <div class="form-group">
                                <label>Vara</label><br/>
                                <input type="text" class="form-control input-sm" data-ng-model="sentencaCt.getDadosProcesso().vara" readonly>
                            </div>
                            <div class="form-group">
                                <label>Juizado</label><br/>
                                <input type="text" class="form-control input-sm" data-ng-model="sentencaCt.getDadosProcesso().juizado" readonly>
                            </div>
                        </fieldset>
                    </div>

                    <div class="form-group">
                        <label>Valor da A&ccedil;&atilde;o</label><br/>
                        <input type="text" class="form-control input-sm" data-ng-model="sentencaCt.getDadosProcesso().valorAcao" readonly>
                    </div>
                </div>
