                <div class="form-group">
                    <form class="form-inline">
                        <label>N&uacute;mero do Processo</label><br/>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Digite o n&uacute;mero CNJ"
                                data-ng-disabled="sentencaCt.isSentencaFinalizada() || !appCt.hasWriteAccess()" data-ng-model="sentencaCt.getSentenca().numeroProcesso">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"
                                    data-ng-disabled="sentencaCt.isSentencaFinalizada() || !appCt.hasWriteAccess()"
                                    data-ng-click="sentencaCt.pesquisaProcesso(sentencaCt.getSentenca().numeroProcesso)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="form-group">
                    &nbsp;<label data-ng-bind-html="sentencaCt.getDadosProcesso().numeroFormatado"></label>
                </div>
                <div app-loading loading="sentencaCt.isLoadingCPU()"></div>
