<div data-ng-if="appCt.sentencaIsLoaded()" data-ng-controller="SentencaController as sentencaCt">
    <div class="action-button" data-ng-click="sentencaCt.setOpenClose()" data-ng-show="sentencaCt.isVisible()" data-ng-cloak>
        <span class="vertical-label">Senten&ccedil;a</span>
    </div>
    <div class="tab-group">
        <tabset justified="true">
            <!-- SENTENCA -->
            <tab active="sentencaCt.isAbaSentencaActive" data-ng-click="sentencaCt.setAbaSentenca()">
                <tab-heading>
                    <i class="fa fa-gavel fa-lg"></i>&nbsp;Dados da Senten&ccedil;a
                </tab-heading>
                <div class="tab-group-item" data-ng-include="'./views/pages/sentenca/sidebar-numero-processo-template.html'"></div>
                <div class="tab-group-item" data-ng-include="'./views/pages/sentenca/aba-sentenca-view.html'"></div>
            </tab>
            <!--/ SENTENCA -->
            <!-- DADOS DO PROCESSO -->
            <tab active="sentencaCt.isAbaDadosActive" data-ng-click="sentencaCt.setAbaDados()">
                <tab-heading>
                    <i class="fa fa-balance-scale fa-lg"></i>&nbsp;Dados do Processo
                </tab-heading>
                <div class="tab-group-item" data-ng-include="'./views/pages/sentenca/sidebar-numero-processo-template.html'"></div>
                <div class="tab-group-item" data-ng-include="'./views/pages/sentenca/aba-dados-processo-view.html'"></div>
            </tab>
            <!--/DADOS DO PROCESSO -->
        </tabset>
        <div class="buttons-area" data-ng-show="!sentencaCt.isLoading()">
            <div class="container">
                <button class="btn btn-primary" data-ng-click="sentencaCt.gerarSentenca()"
                    data-ng-if="!sentencaCt.isSentencaGerada() || sentencaCt.isChanged()" data-ng-disabled="!appCt.hasWriteAccess()">
                    <i class="fa fa-gavel fa-md"></i>&nbsp;Gerar Senten&ccedil;a
                </button>
                <button class="btn btn-primary" data-ng-click="sentencaCt.visualizarSentenca($event)"
                    data-ng-if="sentencaCt.isSentencaGerada() && !sentencaCt.isChanged()">
                    <i class="fa fa-search-plus fa-md"></i>&nbsp;Visualizar Senten&ccedil;a
                </button>
            </div>
        </div>
    </div>
</div>