#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<div class="container-fluid">

	

	<div class="row header" >

        <div class="col-md-4">
   
            <label>Descrição</label>
            
        </div>

        <div class="col-md-2">
           
            <label>Data Início</label>
			
        </div>

         <div class="col-md-2">
           
            <label>Salário</label>
			
        </div>

	</div>

	<div class="row" ng-repeat="row in funcionario.historicoProfissional">

		<div class="col-md-4">
			<input type="text" ng-model="row.descricao" required ="" ng-required="true" maxlength="40" 		class="form-control obrigatorio">
			<input type="hidden" ng-model="row.id" >
		    
		</div>

		<div class="col-md-2">    
			<div ng-controller="datepickerController as dpick" class="form-group">
		    <p class="input-group">
              <input type="text" name="date" required="" datepicker-popup="{{dpick.format}}" ng-model="row.dataInicio" is-open="dpick.opened" max-date="'2019-12-22'" datepicker-options="dpick.dateOptions" date-disabled="dpick.disabled(date, mode)"
              close-text="Close" class="form-control" />
              <span class="input-group-btn">
                 <button type="button" ng-click="dpick.open(${symbol_dollar}event)" class="btn btn-default">
                    <em class="fa fa-calendar"></em>
                 </button>
              </span>
            </p>  
           </div>
		</div>

		<div class="col-md-2">    
			<input type="number" ng-model="row.salario" required =""  ng-required="true"  class="form-control obrigatorio">     
		</div>

		<div class="col-sd-2">

			<button type="submit" class="btn btn-danger" ng-click="removeRowHistoricoProfissional(${symbol_dollar}index);" >
			  <i class="glyphicon glyphicon-erase"></i>
			</button>

		</div>

	</div>
	<br/>

	<button type="button" class="btn btn-default" ng-click="addItemHistoricoProfissional();" >Adicionar</button>

	
</div>