<ul class="fab" data-ng-if="hasWriteAccess()">
    <li class="inner">
        <a href="javascript:void(0)" class="fab-inner fa-stack fa-lg fab-back-sentenca" data-ng-click="active = !active; openSentenca();" ng-show="active" ng-class="{'active':active}" tooltip-placement="left" tooltip="Nova Senten&ccedil;a">
            <i class="fa fa-certificate fa-stack-1x fa-inverse"></i>
        </a>
    </li>
    <li class="inner">
        <a href="#/grupo-trabalho/M" class="fab-inner fa-stack fa-lg fab-back-modelo" ng-click="active = !active" ng-show="active" ng-class="{'active':active}" tooltip-placement="left" tooltip="Novo Modelo">
            <i class="fa fa-list-alt fa-stack-1x fa-inverse "></i>
        </a>
    </li>
    <li class="inner">
        <a href="#/grupo-trabalho/T" class="fab-inner fa-stack fa-lg fab-back-topico" ng-click="active = !active" ng-show="active" ng-class="{'active':active}" tooltip-placement="left" tooltip="Novo T&oacute;pico">
            <i class="fa fa-inbox fa-stack-1x fa-inverse"></i>
        </a>
    </li>
    <li class="primary">
        <a class="fab fa-stack fa-2x" ng-click="active = !active" ng-class="{'active':active}">
            <i class="fa fa-stack-1x fa-inverse fab-primary">+</i>
            <i class="fa fa-stack-1x fa-inverse fab-secondary">+</i>
        </a>
    </li>
</ul>
