<ul class="fab fab-modelo {{configuration.list.position}}" data-ng-if="hasWriteAccess()">
    <li class="inner" data-ng-repeat="(key, cfg) in configuration.buttons">
        <a id="{{$index + cfg.tipo}}" class="fab-inner fa-stack fa-lg"
            ng-click="action(key);"
            ng-show="active"
            ng-class="{'active':active, 'disabled':cfg.disabled}"
            tooltip-placement="{{configuration.tooltip.position}}"
            tooltip="{{cfg.disabled ? 'Bloqueado: '+cfg.tipoElemento.nomeItem : cfg.tipoElemento.nomeItem}}"
            style="transition: {{cfg.transition}}s transform ease; background-color: {{cfg.bgcolor}};">
            <i class="fa fa-list-alt {{cfg.icon}} {{configuration.stack.sizeclass}} fa-inverse"></i>
        </a>
    </li>
    <li class="primary">
        <a class="fab fab-modelo fa-stack {{configuration.primary.sizeclass}}"
            style="background-color: {{configuration.primary.bgcolor}};"
            data-ng-click="active = !active" ng-class="{'active':active}">
            <i class="fa fa-stack-1x fa-inverse fab-primary">+</i>
            <i class="fa fa-stack-1x fa-inverse fab-secondary">+</i>
        </a>
    </li>
</ul>
