package ${target.javaPackageFromFolder($SRC)};

import javax.ejb.Local;

import com.powerlogic.jcompany.core.model.service.PlcEntityService;
import ${ENTITY_PKG}.${entity.name}Entity;

/**
 * EJB Service Interface for  "${entity.name}"
 *
 * @author jCompany Generator
 *
 */

@Local
public interface ${entity.name}Service extends PlcEntityService<Long, ${entity.name}Entity> {
   

}

