package ${target.javaPackageFromFolder($SRC)};

import javax.ejb.Stateless;
import javax.inject.Inject;
import javax.validation.Valid;
import javax.interceptor.Interceptors;

import com.powerlogic.jcompany.core.model.repository.IPlcEntityRepository;
import com.powerlogic.jcompany.core.exception.PlcException;
import com.powerlogic.jcompany.core.model.service.PlcAbstractServiceEntity;
import ${REPOSITORY_PKG}.${entity.name}Repository;
import ${SERVICE_INTERFACE_PKG}.I${entity.name}Service;
import ${ENTITY_PKG}.${entity.name}Entity;

/**
 * EJB Service for "${entity.name}"
 *
 * @author jCompany Generator
 *
 */

@Stateless
public class ${entity.name}ServiceImpl extends PlcAbstractServiceEntity<Long,  ${entity.name}Entity> implements  I${entity.name}Service {

	@Inject
	private ${entity.name}Repository $fn.toLowerCase(${entity.name})Repository;


	@Override
	protected IPlcEntityRepository<Long, ${entity.name}Entity> getEntityRepository() {
		return $fn.toLowerCase(${entity.name})Repository;
	}

	@Override
	public ${entity.name}Entity save(@Valid ${entity.name}Entity entity) throws PlcException {
		return super.save(entity);
	}

}

${generator.generateWithExtra(
				"${target.javaPackageFromFolder($SRC)}.${entity.name}Entity" , 
				"configuration.properties", 
				"${RES}/META-INF", 
				"configuration.vm",
				"A" )}
