package ${target.javaPackageFromFolder($SRC)};


public enum ${target.fileNameWithoutExtension()} {
    
	;

	
    /**
     * @return Retorna o codigo.
     */
	private String label;
    
    private ${target.fileNameWithoutExtension()} (String label) {
    	this.label = label;
    }
     
    public String getLabel() {
        return label;
    }
}
