<div class="container-fluid">

<form name="form" class="form-validate" novalidate >

	<div class="panel .panel-default">
		<div class=".panel-heading">Cadastro de Funcion&aacute;rio</h1></div>
	</div>

	<div class="row">
	
		<div class="col-md-2">
			<label>Id:</label> 
			<input type="text" ng-model="funcionario.id" name="funcionario.id" class="form-control" ng-disabled="true">
		</div>

		<div class="col-md-6">
			<label>Nome:</label> 
			<input type="text" ng-model="funcionario.nome"  name="funcionario.nome" validation="required" class="form-control">
		</div>

		<div class="col-md-2">
			<label>CPF:</label> 
			<input type="text" ng-model="funcionario.cpf" name="funcionario.cpf" class="form-control"> 
		</div>
	</div>

	<div class="row">

		<div class="col-md-2">
			<plc-date-picker ng-model="funcionario.dataNascimento" label="Data Nasc.:"  />
		</div>

		<div class="col-md-6">
			<label>E-mail:</label> 
			<input type="text"  ng-model="funcionario.email" name="funcionario.email" class="form-control">
		</div>

		<div class="col-md-4">
			<plc-check ng-model="funcionario.temCursoSuperior"  label="Tem curso superior?" />
		</div>

	</div>


	<div class="row">

		<div class="col-md-4">

			<plc-static-combo ng-model="funcionario.estadoCivil" name="funcionario.estadoCivil" label="Estado Civil:" ng-enum="estadocivil" 
				ng-enum-value="estadocivil" />

		</div>

		<div class="col-md-4">

			<plc-dynamic-combo ng-model="funcionario.departamento" label="Departamento:" ng-item-description="descricao"
				ng-entity="departamento" />

		</div>

		<div class="col-sm-4" style="margin-top: 30px;">

			<plc-radio ng-model="funcionario.sexo" label="Sexo:" 
				ng-item-description="descricao" ng-enum="sexo" ng-enum-value="sexo" />

		</div>

	</div>


	<div class="row">

		<div class="col-md-12">

			<label>Observação:</label>
			<textarea class="form-control" ng-model="funcionario.observacao"  name="funcionario.observacao" rows="3"></textarea>

		</div>

	</div>

	<div class="row">

	   <plc-file-upload label="Foto:" name="foto" ng-model="funcionario.foto" url="/funcionario/foto/{{funcionario.foto.id}}"
        model-filename="funcionario.foto.nome" />


	</div>

	<br />

	<div class="form-group">

		<accordion close-others="oneAtATime"> <accordion-group
			heading="{{detalhe.titulo}}" ng-repeat="detalhe in detalhes">
		<div ng-include="detalhe.template"></div>
		</accordion-group> </accordion>

	</div>

	<br />

	<div class="form-group">

		<div class="col-sm-4">
			<button type="button" class="btn btn-default" ng-click="funcionarioController.new();">Limpar</button>
			<button type="submit" class="btn btn-default" ng-click="funcionarioController.save();">Salvar</button>
			<button type="button" class="btn btn-default" ng-click="funcionarioController.list();">Listar</button>
			<button type="button" class="btn btn-default" ng-click="funcionarioController.remove();">Excluir</button>
		</div>

	</div>


</div>
