<div class="container-fluid">

	

	<div class="row header" >

        <div class="col-md-6">
   
            <label>Nome</label>
            
        </div>

        <div class="col-md-4">
           
            <label>Sexo</label>
			
        </div>

	</div>

	<div class="row" ng-repeat="row in funcionario.dependente">

		<div class="col-md-6">
			<input type="text" ng-model="row.nome" required ="" ng-required="true" maxlength="40" 		class="form-control obrigatorio">
			<input type="hidden" ng-model="row.id" >
		    
		</div>

		<div class="col-md-4">    
			<plc-radio ng-model="row.sexo" ng-item-description="descricao"
        		ng-enum="sexo" ng-enum-value="sexo" />

		</div>

		<div class="col-sd-2">

			<button type="submit" class="btn btn-danger" ng-click="removeRowDependente($index);" >
			  <i class="glyphicon glyphicon-erase"></i>
			</button>

		</div>

	</div>
	<br/>

	<button type="button" class="btn btn-default" ng-click="addItemDependente();" >Adicionar</button>

	
</div>