<div class="container-fluid">

	

	<div class="row header" >

        <div class="col-md-4">
   
            <label>Descrição</label>
            
        </div>

        <div class="col-md-2">
           
            <label>Data Início</label>
			
        </div>

         <div class="col-md-2">
           
            <label>Salário</label>
			
        </div>

	</div>

	<div class="row" ng-repeat="historicoProfissional in funcionario.historicoProfissional" plc-finish-render="ngRepeatFinished">

		<div class="col-md-4">
			<input type="text" ng-model="historicoProfissional.descricao" name="historicoProfissional.descricao" 	class="form-control">
			<input type="hidden" ng-model="historicoProfissional.id" >
		    
		</div>

		<div class="col-md-2">    
			<plc-date-picker ng-model="historicoProfissional.dataInicio" name="historicoProfissional.dataInicio"  />
		</div>

		<div class="col-md-2">    
			<input type="number" ng-model="historicoProfissional.salario"   name="historicoProfissional.salario" class="form-control ">     
		</div>

		<div class="col-sd-2">

			<button type="submit" class="btn btn-danger" ng-click="funcionarioController.removeItemDetail('funcionario.historicoProfissional', $index);" >
			  <i class="glyphicon glyphicon-erase"></i>
			</button>

		</div>

	</div>
	<br/>

	<button type="button" class="btn btn-default" ng-click="funcionarioController.addItemDetail('funcionario.historicoProfissional');" >Adicionar</button>

	
</div>