<div class="container-fluid" >

	<div class="panel .panel-default">
		<div class=".panel-heading">
		 Consulta de Funcion&aacute;rios
		</div>
	</div>

	<div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid"></div>

	<br/>

	<div class="form-group">
	    <div class="col-sm-4">
	    	<button type="button" class="btn btn-default" ng-click="find();" >Pesquisar</button>
	    	<button type="button" class="btn btn-default" ng-click="clear();" >Limpar</button>
	    	<button type="button" class="btn btn-default" ng-click="new();" >Novo</button>
	    </div>
	</div>

	
</div>
