<div class="container-fluid">

	

	<div class="row header" >

        <div class="col-md-6">
   
            <label>Nome</label>
            
        </div>

        <div class="col-md-4">
           
            <label>Sexo</label>
			
        </div>

	</div>

	<div class="row" ng-repeat="row in funcionario.dependente">

		<div class="col-md-6">
			<input type="text" ng-model="row.nome" required ="" ng-required="true" maxlength="2" 		class="form-control obrigatorio">
			<input type="hidden" ng-model="row.id" >
		    
		</div>

		<div class="col-md-4">    
			<label class="radio-inline c-radio">
            	<input id="inlineradio1" type="radio" ng-model="row.sexo" name="i-radio"  value="{{staticLookupSexo[0].sexo}}" />
            	<span class="fa fa-circle"></span>{{staticLookupSexo[0].descricao}}</label>
          	<label class="radio-inline c-radio">
           		<input id="inlineradio2" type="radio" ng-model="row.sexo" name="i-radio" value="{{staticLookupSexo[1].sexo}}" />
           		<span class="fa fa-circle"></span>{{staticLookupSexo[1].descricao}}</label> 
		</div>

	</div>
	<br/>

	<button type="button" class="btn btn-default" ng-click="addItemDependente();" >Adicionar</button>

	
</div>