<form name="form" class="form-validate" novalidate ng-controller="FuncionarioController as funcionarioController" >

<div class="container-fluid">
	<div class="panel .panel-default">
		<div class=".panel-heading">Cadastro de Funcion&aacute;rio</h1></div>
	</div>

	<div class="row">

		<div class="col-md-2">
			<label>{{'label.funcionario.id'  | translate}}:</label>
			<input type="text" ng-model="funcionario.id" name="funcionario.id" class="form-control" ng-disabled="true">
		</div>

		<div class="col-md-6">
			<label>{{'label.funcionario.nome' | translate}}:</label>
			<input type="text" ng-model="funcionario.nome"  name="funcionario.nome"  label="{{'label.funcionario.nome' | translate}}" class="form-control">
		</div>

		<div class="col-md-2">
			<label>{{'label.funcionario.cpf' | translate}}:</label>
			<input type="text" ng-model="funcionario.cpf" name="funcionario.cpf" ui-br-cpf-mask class="form-control"
             placeholder="___.___.___-__" uib-tooltip="Digite um CPF válido"
             label="{{'label.funcionario.cpf' | translate}}">
		</div>
	</div>

	<div class="row">

		<div class="col-md-2">
			<plc-date-picker ng-model="funcionario.dataNascimento" label="{{'label.funcionario.dataNascimento' | translate}}"
                       invalid-date-alert placeholder="__/__/____" uib-tooltip="Digite a data de nascimento do funcionário no formato DD/MM/AAAA" />
		</div>

		<div class="col-md-6">
			<label>{{'label.funcionario.email' | translate}}:</label>
			<input type="text"  ng-model="funcionario.email"  placeholder="Digite um e-mail válido" label="{{'label.funcionario.email' | translate}}" name="funcionario.email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"  class="form-control">
		</div>

		<div class="col-md-4">
			<plc-check ng-model="funcionario.temCursoSuperior"  label="{{'label.funcionario.temCursoSuperior' | translate}}" />
		</div>

	</div>


	<div class="row">

		<div class="col-md-4">

			<plc-static-combo ng-model="funcionario.estadoCivil" name="funcionario.estadoCivil" label="{{'label.funcionario.estadoCivil' | translate}}" ng-enum="estadocivil"
                        no-selected-value="[Selecione...]" ng-enum-value="estadocivil" />

		</div>

		<div class="col-md-4">

			<plc-dynamic-combo ng-model="funcionario.departamento"  ng-item-description="descricao"
                         label="{{'label.funcionario.departamento' | translate}}"  no-selected-value="[Selecione...]" ng-entity="departamento" />

		</div>

		<div class="col-sm-4" style="margin-top: 30px;">

			<plc-radio ng-model="funcionario.sexo" label="{{'label.funcionario.sexo' | translate}}"
				ng-item-description="descricao" ng-enum="sexo" ng-enum-value="sexo" />

		</div>

	</div>


	<div class="row">

		<div class="col-md-12">

			<label>{{'label.funcionario.observacao' | translate}}:</label>
			<textarea class="form-control" ng-model="funcionario.observacao"  name="funcionario.observacao" rows="3"></textarea>

		</div>

	</div>

	<div class="row">
	   <plc-file-upload label="Foto:" name="foto" ng-model="funcionario.foto" url="/rest/entity/funcionario/foto/{{funcionario.foto.id}}"
        model-filename="funcionario.foto.nome" />


	</div>

	<br />

	<div class="form-group">

		<uib-accordion close-others="oneAtATime"> <uib-accordion-group
			heading="{{detalhe.titulo}}" ng-repeat="detalhe in detalhes">
		<div ng-include="detalhe.template"></div>
		</uib-accordion-group> </uib-accordion>

	</div>

	<br />

	<div class="form-group">

		<div class="col-sm-6">
			<button type="button" class="btn btn-default" ng-click="funcionarioController.new();">Limpar</button>
			<button type="submit" class="btn btn-default" ng-click="funcionarioController.save();">Salvar</button>
			<button type="button" class="btn btn-default" ng-click="funcionarioController.list();">Listar</button>
			<button type="button" class="btn btn-default" ng-click="funcionarioController.remove();">Excluir</button>
		</div>

	</div>


</div>
