#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $dollarSymbol= "$" )
(function() {
  'use strict';

  var jcompanyModule = angular.module('jcompany-view');
  jcompanyModule.${entity.name}ControllerConstructor = ${entity.name}Controller;
  angular.module('${PROJECT_NAME}').controller('${entity.name}Controller', ${entity.name}Controller );

  ${entity.name}Controller.${dollarSymbol}_inject = ['${dollarSymbol}injector','${dollarSymbol}scope', '${dollarSymbol}state', '${dollarSymbol}backendUrl', '${entity.name}Service', 'PlcNotificationService', 'FileUploader', '${dollarSymbol}stateParams'];

  /** @ngInject */
  function ${entity.name}Controller(${dollarSymbol}injector, ${dollarSymbol}scope, ${dollarSymbol}state, ${dollarSymbol}backendUrl, ${entity.name}Service, PlcNotificationService,  FileUploader, ${dollarSymbol}stateParams) {

	    ${dollarSymbol}injector.invoke(jcompanyModule.PlcBaseControllerConstructor, this, {
	        ${dollarSymbol}scope: ${dollarSymbol}scope,
	        ${dollarSymbol}state: ${dollarSymbol}state,
	        ${dollarSymbol}stateParams: ${dollarSymbol}stateParams,
	        ${dollarSymbol}baseService: ${entity.name}Service,
	        ${dollarSymbol}baseRoute: '${uncapitalizedEntityName}',
	        ${dollarSymbol}notification : PlcNotificationService, 
	        ${dollarSymbol}utils : PlcUtils
	    });

	  #foreach($link in $entity.selectedLinks)
		#if($link.isCardinalityOneToMany())
	#set($nameDetail = ${fn.firstCharToUpperCase($link.formattedFieldName(0))})

    ${dollarSymbol}scope.detalhes(
      {
        titulo: "${nameDetail}",
        template: "app/${uncapitalizedEntityName}/${uncapitalizedEntityName}_${fn.uncapitalize($link.formattedFieldName(0))}.html"
      } 
	);

    ${dollarSymbol}scope.addItem${nameDetail} = function() {
      if(!${dollarSymbol}scope.${uncapitalizedEntityName}.${link.formattedFieldName(0)}){
        ${dollarSymbol}scope.${uncapitalizedEntityName}.${link.formattedFieldName(0)} = [];
      }

      ${dollarSymbol}scope.${uncapitalizedEntityName}.${link.formattedFieldName(0)}.push(new Object());
    };

    ${dollarSymbol}scope.removeRow${nameDetail} = function(index){
        ${dollarSymbol}scope.${uncapitalizedEntityName}.${link.formattedFieldName(0)}.splice(index, 1);
    };

		#end
	  #end	
	${dollarSymbol}scope.columnDefs = [
                         { field: 'id', displayName: 'Id', width: '10%'}
 		//,{ field: 'nome', displayName: 'Nome', width: '25%'}
        //,{ field: 'email', displayName: 'E-mail', width: '20%'}
        //,{ field: 'cpf', displayName: 'CPF', width: '15%'}
        //,{ field: 'dataNascimento', displayName: 'Nascimento', width: '10%', cellFilter: 'date:\'dd/MM/yyyy\''}
        //,{ field: 'departamento.descricao', displayName: 'Departamento', width: '20%'}
                ]
  }
})();


