#set( $uncapitalizedEntityName = $fn.uncapitalize($entity.name) )
#set( $dollarSymbol= "$" )

(function() {
	'use strict';

	angular
	.module('${PROJECT_NAME}')
	.config(${entity.name}RouterConfig);


	function ${entity.name}RouterConfig(${dollarSymbol}stateProvider, ${dollarSymbol}urlRouterProvider) {

		$stateProvider
		.state('departamento', {
			abstract: true,
			url: '/${uncapitalizedEntityName}',
			templateUrl: 'app/components/template/single-page-template.html',
			controller: '${entity.name}Controller',
			controllerAs: '${uncapitalizedEntityName}Controller'
		});

		${dollarSymbol}stateProvider
		.state('${uncapitalizedEntityName}sel', {
			url: '/${uncapitalizedEntityName}sel',
			templateUrl: 'app/${uncapitalizedEntityName}/${uncapitalizedEntityName}sel.html',
			controller: '${entity.name}Controller',
			controllerAs: '${uncapitalizedEntityName}Controller'
		});

		${dollarSymbol}stateProvider
		.state('${uncapitalizedEntityName}man', {
			url: '/${uncapitalizedEntityName}man/:id',
			templateUrl: 'app/${uncapitalizedEntityName}/${uncapitalizedEntityName}man.html',
			controller: '${entity.name}Controller',
			controllerAs: '${uncapitalizedEntityName}Controller'
		});
	}
	
})();


