#set( $lowerEntityName = $fn.toLowerCase($entity.name) )
#set( $dollarSymbol= "$" )
(function() {
	'use strict';

	angular
	.module('${PROJECT_NAME}')
	.config(${entity.name}Config);

	${entity.name}Config.${dollarSymbol}inject = ['PlcMenuLoaderProvider']

	function ${entity.name}Config(PlcMenuLoaderProvider) {
		PlcMenuLoaderProvider.addMenuPath('app/${lowerEntityName}/${lowerEntityName}.menu.json');
	}

})();